<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  

  <title>Adevity - Custom Development and IT Solutions</title>
  <!-- Meta Description: Provides a summary of the page's content for search engines and social media platforms -->
  <meta name="description" content="Adevity offers innovative solutions for business growth. Specializing in software development and IT services, we help you navigate the digital landscape with cutting-edge technology and a client-centric approach.">
  <!-- Meta Keywords: Lists keywords related to the page's content, which can be useful for internal documentation, although not frequently used by search engines for ranking -->
  <meta name="keywords" content="software development, IT services, business solutions, technology, digital transformation">
  <!-- Meta Robots: Instructs search engines on how to index the page (index, follow) -->
  <meta name="robots" content="index, follow">
  <!-- Viewport: Controls how the page is displayed on mobile devices, essential for responsive design -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Favicons -->


  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="/vendor/aos/aos.css" rel="stylesheet">
  <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="/style.css" rel="stylesheet">


</head>
<!-- For google analytics -->
<!-- Google tag (gtag.js) -->
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-FRZRDC8C33"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-FRZRDC8C33');
</script>

<body>

      <!-- ======= Header ======= -->
  <header id="header" class="header fixed-top">
    <div class="container-fluid container-xl d-flex align-items-center justify-content-between">

      <a href="/" class="logo d-flex align-items-center">
        <img src="/assets/img/adevity-logo.svg" style="width: 70%;" alt="">
        
      </a>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto active" href="#hero">Home</a></li>

          <% if (hideEverythingBesidesHome === false) { %>

            <li><a class="nav-link scrollto" href="#about">About</a></li>
            <li><a class="nav-link scrollto " href="#values">Values</a></li>
            <li><a class="nav-link scrollto" href="#features">Features</a></li>
            <li><a class="nav-link scrollto" href="#contact">Contact</a></li>
            <li><a class="getstarted scrollto" href="#about">Get Started</a></li>
        <% } %>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->
