<%- include('./partials/header.ejs', {hideEverythingBesidesHome:false} )%>


  <!-- ======= Hero Section ======= -->
  <section id="hero" class="hero d-flex align-items-center">

    <div class="container">
      <div class="row">
        <div class="col-lg-6 d-flex flex-column justify-content-center">
          <h1 data-aos="fade-up">We offer modern solutions for growing your business</h1>
          <h2 data-aos="fade-up" data-aos-delay="400">We are team of developers and IT professionals ready to provide modern solutions to your problems</h2>
          <div data-aos="fade-up" data-aos-delay="600">
            <div class="text-center text-lg-start">
              <a href="#about" class="btn-get-started scrollto d-inline-flex align-items-center justify-content-center align-self-center">
                <span>Get Started</span>
                <i class="bi bi-arrow-right"></i>
              </a>
            </div>
          </div>
        </div>
        <div class="col-lg-6 hero-img" data-aos="zoom-out" data-aos-delay="200">
          <img src="assets/img/hero-img.png" class="img-fluid" alt="">
        </div>
      </div>
    </div>

  </section><!-- End Hero -->

  <main id="main">
    <!-- ======= About Section ======= -->
    <section id="about" class="about">

      <div class="container" data-aos="fade-up">
        <div class="row gx-0">

          <div class="col-lg-6 d-flex flex-column justify-content-center" data-aos="fade-up" data-aos-delay="200">
            <div class="content">
              <h3>Who We Are</h3>
              <h2>Our Services and Values</h2>
              <p>
                In a world where every organization has unique needs, our technologies are designed to seamlessly integrate into existing operations while addressing specific challenges. They offer a level of flexibility and efficiency that off-the-shelf software simply cannot match. Whether it's streamlining internal processes, enhancing customer experiences, or managing complex data ecosystems, custom applications and IT solutions empower businesses to navigate the ever-evolving digital landscape with precision.
              </p>
              
            </div>
          </div>

          <div class="col-lg-6 d-flex align-items-center" data-aos="zoom-out" data-aos-delay="200">
            <img src="assets/img/about-2.jpg" class="img-fluid" alt="">
          </div>

        </div>
      </div>

    </section><!-- End About Section -->

    <!-- ======= Values Section ======= -->
    <section id="values" class="values">

      <div class="container" data-aos="fade-up">

        <header class="section-header">
          <h2>Our Values</h2>
          <p>Innovating with client focus and unwavering integrity.</p>
        </header>

        <div class="row">

          <div class="col-lg-4" data-aos="fade-up" data-aos-delay="200">
            <div class="box">
              <img src="assets/img/values-1.png" class="img-fluid" alt="">
              <h3>Innovation and Creativity</h3>
              <p>We believe in pushing the boundaries of technology. Our team constantly seeks new and creative solutions to address the challenges of today and tomorrow.</p>
            </div>
          </div>

          <div class="col-lg-4 mt-4 mt-lg-0" data-aos="fade-up" data-aos-delay="400">
            <div class="box">
              <img src="assets/img/values-2.png" class="img-fluid" alt="">
              <h3>Client-Centric Approach</h3>
              <p>Our clients are at the heart of everything we do. We listen, understand, and tailor our services to meet their unique needs, ensuring their success is our success.</p>
            </div>
          </div>

          <div class="col-lg-4 mt-4 mt-lg-0" data-aos="fade-up" data-aos-delay="600">
            <div class="box">
              <img src="assets/img/values-3.png" class="img-fluid" alt="">
              <h3>Transparency and Integrity</h3>
              <p>We operate with transparency and integrity in all our dealings. Honesty and ethical behavior are the cornerstones of our company culture.</p>
            </div>
          </div>

        </div>

      </div>

    </section><!-- End Values Section -->

    <!-- ======= Counts Section ======= -->
    <section id="counts" class="counts">
      <div class="container" data-aos="fade-up">

        <div class="row gy-4">

          <div class="col-lg-3 col-md-6">
            <div class="count-box">
              <i class="bi bi-emoji-smile"></i>
              <div>
                <span data-purecounter-start="0" data-purecounter-end="50" data-purecounter-duration="1" class="purecounter"></span>
                <p>Happy Clients</p>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6">
            <div class="count-box">
              <i class="bi bi-journal-richtext" style="color: #ee6c20;"></i>
              <div>
                <span data-purecounter-start="0" data-purecounter-end="120" data-purecounter-duration="1" class="purecounter"></span>
                <p>Projects</p>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6">
            <div class="count-box">
              <i class="bi bi-headset" style="color: #15be56;"></i>
              <div>
                <span data-purecounter-start="0" data-purecounter-end="1500" data-purecounter-duration="1" class="purecounter"></span>
                <p>Hours Of Support</p>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6">
            <div class="count-box">
              <i class="bi bi-people" style="color: #bb0852;"></i>
              <div>
                <span data-purecounter-start="0" data-purecounter-end="10" data-purecounter-duration="1" class="purecounter"></span>
                <p>Hard Workers</p>
              </div>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Counts Section -->

    <!-- ======= Features Section ======= -->
    <section id="features" class="features">

      <div class="container" data-aos="fade-up">

        <header class="section-header">
          <h2>Features</h2>
          <p>Key Features of Our Approach</p>
        </header>

        <div class="row">

          <div class="col-lg-6">
            <img src="assets/img/features.png" class="img-fluid" alt="">
          </div>

          <div class="col-lg-6 mt-5 mt-lg-0 d-flex">
            <div class="row align-self-center gy-4">

              <div class="col-md-6" data-aos="zoom-out" data-aos-delay="200">
                <div class="feature-box d-flex align-items-center">
                  <i class="bi bi-check"></i>
                  <h3>Client-Centric Solutions</h3>
                </div>
              </div>

              <div class="col-md-6" data-aos="zoom-out" data-aos-delay="300">
                <div class="feature-box d-flex align-items-center">
                  <i class="bi bi-check"></i>
                  <h3>Cutting-Edge Technology</h3>
                </div>
              </div>

              <div class="col-md-6" data-aos="zoom-out" data-aos-delay="400">
                <div class="feature-box d-flex align-items-center">
                  <i class="bi bi-check"></i>
                  <h3>Transparency and Integrity</h3>
                </div>
              </div>

              <div class="col-md-6" data-aos="zoom-out" data-aos-delay="500">
                <div class="feature-box d-flex align-items-center">
                  <i class="bi bi-check"></i>
                  <h3>Collaborative Teamwork</h3>
                </div>
              </div>

              <div class="col-md-6" data-aos="zoom-out" data-aos-delay="600">
                <div class="feature-box d-flex align-items-center">
                  <i class="bi bi-check"></i>
                  <h3>Dedicated to Continuous Advancement</h3>
                </div>
              </div>

           

            </div>
          </div>

        </div> <!-- / row -->

        <!-- Feature Tabs -->
        <div class="row feture-tabs" id="ourApproach" data-aos="fade-up">
          <div class="col-lg-6">
            <h3>Our Approach to Development and IT</h3>

            <!-- Tabs -->
            <ul class="nav nav-pills mb-3">
              <li>
                <a class="nav-link active" data-bs-toggle="pill" href="#tab1">Development</a>
              </li>
              <li>
                <a class="nav-link" data-bs-toggle="pill" href="#tab2">Information Technology (IT)</a>
              </li>
              
            </ul><!-- End Tabs -->

            <!-- Tab Content -->
            <div class="tab-content">

              <div class="tab-pane fade show active" id="tab1">
                <p>At Adevity, our approach to development and IT is rooted in a deep commitment to innovation, excellence, and client-centricity. We believe in harnessing the power of technology to create solutions that make a difference, and our guiding principles set us apart in the industry.</p>
                <div class="d-flex align-items-center mb-2">
                  <i class="bi bi-check2"></i>
                  <h4>Tailored Solutions for Clients</h4>
                </div>
                <p>Client-centricity is the cornerstone of our approach. We prioritize the needs of our clients, taking the time to understand their unique challenges and aspirations. We then custom-tailor our software solutions to address their specific requirements, ensuring their success remains our ultimate goal.</p>
                <div class="d-flex align-items-center mb-2">
                  <i class="bi bi-check2"></i>
                  <h4>Streamlined Solutions</h4>
                </div>
                <p>We believe that simplicity is the ultimate sophistication. Our solutions are designed to be streamlined and user-friendly, eliminating unnecessary complexity. We know that a straightforward user experience and intuitive design lead to better outcomes</p>
              </div><!-- End Tab 1 Content -->

              <div class="tab-pane fade show" id="tab2">
                <p>
                    At Adevity, Information Technology (IT) is more than just a department or a set of tools—it's the driving force that empowers organizations and individuals to navigate the digital age successfully. Our approach to IT is underpinned by a deep commitment to innovation and excellence.
                </p>
                <div class="d-flex align-items-center mb-2">
                  <i class="bi bi-check2"></i>
                  <h4>Tailored IT Solutions</h4>
                </div>
                <p>Client-centricity is a core principle in our IT approach. We understand that every organization is unique, and we craft IT solutions that align with your specific needs, goals, and challenges. Your success remains our primary focus.</p>
                <div class="d-flex align-items-center mb-2">
                  <i class="bi bi-check2"></i>
                  <h4>Value-Driven IT Innovation</h4>
                </div>
                <p>Our success is measured by the value we deliver. Our innovation is aimed at maximizing that value within budget constraints, ensuring that every financial allocation contributes to our clients' overall success.</p>
              </div><!-- End Tab 2 Content -->

           

            </div>

          </div>

          <div class="col-lg-6">
            <img src="assets/img/features-2.png" class="img-fluid" alt="">
          </div>

        </div><!-- End Feature Tabs -->

        <!-- Feature Icons -->
        <div class="row feature-icons" data-aos="fade-up" id="typesOfSolutions">
          <h3>Types of solutions we have recently delivered</h3>

          <div class="row">

            <div class="col-xl-4 text-center" data-aos="fade-right" data-aos-delay="100">
              <img src="assets/img/features-3.png" class="img-fluid p-4" alt="">
            </div>

            <div class="col-xl-8 d-flex content">
              <div class="row align-self-center gy-4">

                <div class="col-md-6 icon-box" data-aos="fade-up">
                  <i class="ri-line-chart-line"></i>
                  <div>
                    <h4>Inspection Systems for Automation</h4>
                    <p>An app that delivers ‘real time’ inspection data to quality and manufacturing professionals for storage, management and communication to all functions in the ‘Value Stream’ using Industry Standards as a framework.</p>
                  </div>
                </div>

                <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="100">
                  <i class="ri-stack-line"></i>
                  <div>
                    <h4>Inventory/Order Tracking</h4>
                    <p>We've developed various Inventory and Order Tracking Applications that offers a 
                         comprehensive suite of features.
                         
                         By facilitating efficient barcode scanning, generating insightful reports our application enhances productivity 
                         and simplifies complex inventory management. </p>
                  </div>
                </div>

                <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="200">
                  <i class="ri-brush-4-line"></i>
                  <div>
                    <h4>Time tracking and payroll computations and production report</h4>
                    <p>Streamlined Time Tracking, Payroll Computations, and Production Reporting: Seamlessly manage work hours, automate payroll, and access in-depth insights for enhanced workforce productivity and efficiency.</p>
                  </div>
                </div>

               

                <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="400">
                  <i class="ri-command-line"></i>
                  <div>
                    <h4>Upgrade/Maintain existing applications</h4>
                    <p>We have worked on enhancing and supporting software tools or platforms that 
                        are already in use within an organization. This involves implementing updates to keep the applications current, secure, and aligned with changing business needs.</p>
                  </div>
                </div>

                <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="500">
                  <i class="ri-radar-line"></i>
                  <div>
                    <h4>IT Support</h4>
                    <p>We take pride in our extensive experience and expertise in IT support, having successfully provided comprehensive solutions 
                        to address technical challenges, ensure system reliability, and bolster the digital infrastructure for numerous clients.</p>
                  </div>
                </div>

              </div>
            </div>

          </div>

        </div><!-- End Feature Icons -->

      </div>

    </section><!-- End Features Section -->

 

    <!-- ======= F.A.Q Section ======= -->
    <section id="faq" class="faq">

      <div class="container" data-aos="fade-up">

        <header class="section-header">
          <h2>F.A.Q</h2>
          <p>Frequently Asked Questions</p>
        </header>

        <div class="row">
          <div class="col-lg-6">
            <!-- F.A.Q List 1-->
            <div class="accordion accordion-flush" id="faqlist1">
              <div class="accordion-item">
                <h2 class="accordion-header">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq-content-1">
                    What does Adevity specialize in?
                  </button>
                </h2>
                <div id="faq-content-1" class="accordion-collapse collapse" data-bs-parent="#faqlist1">
                  <div class="accordion-body">
                    Adevity specializes in software development and IT services. We have a proven track record of delivering innovative software solutions and IT services to clients in various industries
                  </div>
                </div>
              </div>

              <div class="accordion-item">
                <h2 class="accordion-header">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq-content-2">
                    How can I contact your support team?
                  </button>
                </h2>
                <div id="faq-content-2" class="accordion-collapse collapse" data-bs-parent="#faqlist1">
                  <div class="accordion-body">
                    You can reach our support team by using the contact form or any of the contact method listed in the contact section
                  </div>
                </div>
              </div>

              <div class="accordion-item">
                <h2 class="accordion-header">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq-content-3">
                    What is your project development process like?
                  </button>
                </h2>
                <div id="faq-content-3" class="accordion-collapse collapse" data-bs-parent="#faqlist1">
                  <div class="accordion-body">
                    Our project development process at Adevity is a carefully orchestrated journey that begins with comprehensive planning, extends to creative design, meticulous development, rigorous testing, and culminates in a seamless deployment. What sets us apart is our unwavering commitment to close collaboration with our clients, which threads through every phase. We believe that your insights and feedback are invaluable in crafting solutions that align with your unique vision and goals. This transparent and client-centric approach ensures that the end product not only meets your expectations but exceeds them, delivering innovation and excellence that empower your success in the digital landscape.
                  </div>
                </div>
              </div>

            </div>
          </div>

          <div class="col-lg-6">

            <!-- F.A.Q List 2-->
            <div class="accordion accordion-flush" id="faqlist2">

              <div class="accordion-item">
                <h2 class="accordion-header">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq2-content-1">
                    Do you offer free consultations or quotes?
                  </button>
                </h2>
                <div id="faq2-content-1" class="accordion-collapse collapse" data-bs-parent="#faqlist2">
                  <div class="accordion-body">
                    Yes, we offer free consultations and can provide you with a quote for your project. Contact us to schedule a consultation and discuss your needs.
                  </div>
                </div>
              </div>

              <div class="accordion-item">
                <h2 class="accordion-header">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq2-content-2">
                    How long does it typically take to complete a project?
                  </button>
                </h2>
                <div id="faq2-content-2" class="accordion-collapse collapse" data-bs-parent="#faqlist2">
                  <div class="accordion-body">
                    Project timelines vary based on the scope and complexity. We will provide you with a project timeline during the planning phase.
                  </div>
                </div>
              </div>

              <div class="accordion-item">
                <h2 class="accordion-header">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq2-content-3">
                    How can I request a proposal or get started on a project?
                  </button>
                </h2>
                <div id="faq2-content-3" class="accordion-collapse collapse" data-bs-parent="#faqlist2">
                  <div class="accordion-body">
                    Initiating a partnership with Adevity is a straightforward process. 
                    If you're interested in our services and would like to request a proposal or kick-start a project, 
                    simply reach out to our dedicated team through contact form on our websit. 
                    Our friendly and knowledgeable professionals will guide you through the next steps, 
                    starting with a comprehensive consultation to understand your needs and objectives. 
                    We'll work closely with you to define project scope, provide you with a tailored proposal, and establish a clear roadmap for project commencement. 
                    Your journey towards innovative solutions and excellence begins with a single point of contact – get in touch with us today, 
                    and let's turn your vision into a reality.
                  </div>
                </div>
              </div>

            </div>
          </div>

        </div>

      </div>

    </section><!-- End F.A.Q Section -->

  

   
 


    <!-- ======= Clients Section ======= -->
    <section id="clients" class="clients">

      <div class="container" data-aos="fade-up">

        <header class="section-header">
        
          <p>Our recent clients</p>
        </header>

        <div class="clients-slider swiper">
          <div class="swiper-wrapper align-items-center">
            <div class="swiper-slide"><img src="assets/img/clients/client-autoicharts.svg" style="width: 100%;" class="" alt="" ></div>
            <div class="swiper-slide"><img src="assets/img/clients/client-Roese.png" class="" alt="" style="width: 100%;"></div>
            <div class="swiper-slide"><img src="assets/img/clients/client-sns.png"  class="" alt="" style="width: 100%;"></div>
            <div class="swiper-slide"><img src="assets/img/clients/client-tqa.png" class="" alt="" style="width: 100%;"></div>
            <div class="swiper-slide"><img src="assets/img/clients/client-docyber.jpg" style="width: 100%;"  alt=""></div>
            <div class="swiper-slide"><img src="assets/img/clients/client-grassroots.png"  alt="" style="width: 100%;"></div>
          </div>
          <div class="swiper-pagination"></div>
        </div>
      </div>

    </section><!-- End Clients Section -->



    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">

      <div class="container" data-aos="fade-up">

        <header class="section-header">
         
          <p>Contact Us</p>
        </header>

        <div class="row gy-4">

          <div class="col-lg-6">

            <div class="row gy-4">
              <div class="col-md-6">
                <div class="info-box">
                  <i class="bi bi-geo-alt"></i>
                  <h3>Address</h3>
                  <p>1385 S Huron Rd<br>Michigan, MI 48631</p>
                </div>
              </div>
              <div class="col-md-6">
                <div class="info-box">
                  <i class="bi bi-telephone"></i>
                  <h3>Call Us</h3>
                  <p>+1 989-322-2000</p>
                </div>
              </div>
              <div class="col-md-6">
                <div class="info-box">
                  <i class="bi bi-envelope"></i>
                  <h3>Email Us</h3>
                  <p>info@adevity.com</p>
                </div>
              </div>
              <div class="col-md-6">
                <div class="info-box">
                  <i class="bi bi-clock"></i>
                  <h3>Open Hours</h3>
                  <p>Monday - Friday<br>9:00AM - 05:00PM</p>
                </div>
              </div>
            </div>

          </div>

          <div class="col-lg-6">
            <form action="/sendEmail" method="post" class="php-email-form">
              <div class="row gy-4">

                <div class="col-md-6">
                  <input type="text" name="name" class="form-control" placeholder="Your Name" required>
                </div>

                <div class="col-md-6 ">
                  <input type="email" class="form-control" name="email" placeholder="Your Email" required>
                </div>

                <div class="col-md-12">
                  <input type="text" class="form-control" name="subject" placeholder="Subject" required>
                </div>

                <div class="col-md-12">
                  <textarea class="form-control" name="message" rows="6" placeholder="Message" required></textarea>
                </div>

                <div class="col-md-12 text-center">
                  <div class="loading">Loading</div>
                  <div class="error-message"></div>
                  <div class="sent-message">Your message has been sent. Thank you!</div>

                  <button type="submit">Send Message</button>
                </div>

              </div>
            </form>

          </div>

        </div>

      </div>

    </section><!-- End Contact Section -->

  </main><!-- End #main -->

  <%- include('./partials/footer.ejs') %>